.login-box {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box_img-box {
    height: 15rem;
}

.img1 {
    height: 8rem;
}

.login-box_img-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.login-box_input-box {
    background-color: yellow;
    border-radius: 1rem;
}
.login-box_input-box input {
    font-family: 'Sigmar One', cursive;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 1rem;
    background-color: yellow;
    border: none;
    outline: none;
}

.login-box_input-box button {
    border-radius: 1rem;
}

