.login-box {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box_img-box {
    height: 15rem;
}

.img1 {
    height: 8rem;
}

.login-box_img-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

